#bg-contactos {
    position: relative;
    top: -130px;
}

#seccion-contacto {
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}

#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    border: 1px solid #1b2a4e;
}

#titulo-formulario {
    color: #3f3f3f;
}
